		<div class="full_box">
	      <h4>Versand- und Bezahlart</h4>
	      <p>Die Versandart ist <strong><%= @cart.shipping_method.name %></strong>.</p>
	      <p>Und die Bezahlart ist <strong><%= @cart.payment.name %></strong>.</p> 