<div class="full_box">
	<% if @order.payment.name == "Vorkasse" %>
    <br />
    <br />
		<p><strong>Bitte geben Sie die Bestellnummer als Verwendungszweck bei der Überweisung an, damit wir Ihre Zahlung zuordnen können.</strong></p>
	<% end %>
	<br />
	<br />
<div class="left_table_box">
  <h4><strong>Unsere Kontodaten lauten:</strong></h4>
  <table class="table">
  	<tr>
  	  <th>Name der Bank: </th>
  	  <td>Sparkasse Münschterland Nord</td>
  	</tr>
  	<tr>
  	  <th>IBAN-Nummer</th>
  	  <td>DE87340014513452345</td>
  	</tr>
  	<tr>
  	  <th>Verwendungszweck: </th>
  	  <td><%= @order.order_number %></td>
  	</tr>
  	<tr>
  	  <th>Betrag: </th>
  	  <td><%= number_to_currency(@order.total_price) %></td>
  	</tr>
  </table>
 </div>
<br />
<br />