<div id="full_box">
	<h4>Versand- und Bezahlart</h4>
	  <p>Die Versandart ist <strong><%= @order.shipping_method_name %></strong>.</p>
	  <p>Und die Bezahlart ist <strong><%= @order.payment.name %></strong>.</p> 
	<br />
</div>