<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Webshop', products_path, :class => 'navbar-brand' %>
    <!--<a class="navbar-brand" href="#">Webshop</a> -->
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% Category.all.each do |category|  %>
          <li><%= link_to category.name, category_products_path(category)  %></li>
        <% end %>
       </ul>
    </div>
  </div>
</div>