<h1>Vielen Dank für Ihre Bestellung!</h1>

<p>Ihre Bestellnummer lautet: <b><%= @order.order_number %></b>. Der zu Zahlende Betrag ist
  <%= number_to_currency(@order.total_price, :unit=>'€', separator:",", format:"%n%u") %>.</p>
<p>Bitte geben Sie die Bestellnummer als Verwendungszweck bei deiner Überweisung an, damit wir Ihre Zahlung zuordnen können.</p>
<p> Unsere Kontodaten lauten: Sparkasse Münschterland Nord, IBAN DE87340014513452345</p>

