/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
html, body{
    height: 100%;
}

#wrapper{
    min-height:100%;
    position: relative;
}
#inhalt{
    padding-bottom: 120px;
}

#footer{

    height: 80px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px;
    border: solid;
    border-width: 1px;
    border-color: #DDD;
    background-color: #F8F8F8;
    position: absolute;
    bottom: 0;
}

.left_table_box {
    width: 65%;
    float: left;
    background-color: #FFF;
}

.left_box {
    width: 45%;
    float: left;
    background-color: #FFF;
}

.blank_div {
    width: 10%;
    float: left;
    background-color: #FFF;
}

.right_box {
    width: 45%;
    float: right;
    background-color: #FFF;
}

.full_box {
    width: 100%;
    float: left;
    background-color: #FFF;
}

}
