<%= render partial: 'products/shared/producthead' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><%= link_to 'Beschreibung', @product %></li>
        <li><%= link_to 'Kundenbewertung', :controller => :products, :action => :review, :id => @product %></li>
      </ul>

      <p> <%= simple_format @product.description %></p>

    </div>
  </div>
</div>













